@{ ViewData["Title"] = "About"; }

<div class="text-center">
  <h1 class="display-4">About</h1>
</div>
<p>
  Bacon ipsum dolor amet capicola shankle beef ribs jerky. Andouille flank
  turducken, ground round frankfurter fatback picanha ham hock pig short loin
  drumstick landjaeger hamburger. Corned beef short loin biltong, turducken pork
  belly andouille pork shankle pastrami doner meatball sausage landjaeger
  meatloaf. Strip steak venison bacon, meatball ground round pork belly doner
  turducken. Ribeye burgdoggen jerky ham filet mignon brisket. Ball tip brisket
  pork belly shank chislic landjaeger buffalo.
</p>
<p>
  Ribeye biltong pork belly short ribs picanha. Pork belly salami drumstick
  shank chicken, landjaeger ham short ribs cupim prosciutto sirloin tenderloin
  doner. Ribeye picanha jowl doner chuck shoulder shankle tri-tip, beef ribs
  strip steak brisket. Pancetta ground round kielbasa porchetta kevin ribeye.
  Spare ribs cupim biltong, strip steak chicken alcatra jowl tenderloin short
  loin burgdoggen kielbasa tri-tip pig pork chop. Fatback sirloin shankle, tail
  ham hock buffalo cupim capicola shank flank prosciutto pork loin biltong.
</p>
