@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>
    Learn about
    <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
  </p>
</div>
<p>
  Burgdoggen short ribs pork venison filet mignon, salami andouille frankfurter
  jerky cow picanha brisket fatback. Picanha ham hock short ribs turducken
  ribeye tenderloin. Bacon capicola chislic, beef ribs pork belly t-bone
  prosciutto brisket porchetta. Chislic shank strip steak jowl tenderloin,
  ground round leberkas landjaeger beef bacon tri-tip porchetta picanha pancetta
  rump. Bacon shoulder pork pork loin.
</p>

<p>
  Shankle sirloin frankfurter prosciutto beef ribs buffalo ham hock flank ham
  swine burgdoggen sausage t-bone bresaola. Frankfurter boudin andouille sirloin
  meatloaf tenderloin. Hamburger buffalo swine shoulder tenderloin, leberkas
  t-bone ball tip sausage venison. Pork loin venison swine, doner tri-tip kevin
  kielbasa burgdoggen. Ball tip pastrami salami burgdoggen tail, shoulder
  venison cupim ground round boudin beef short ribs swine ham jerky.
</p>
